---
import { content } from "@constants/content";
---

<div class="h-[92vh] bg-slate-300 image relative flex flex-col justify-center">
  <div class="absolute inset-0 overlay"></div>

  <div class="w-full flex justify-center">
    <div class="w-11/12 md:w-10/12 lg:w-9/12 flex flex-col gap-5 z-10">
      <h1 class="text-5xl md:text-6xl text-white font-bold md:w-[15ch]">
        {content.banner.title}
      </h1>

      <h2
        class="text-white font-bold min-w-[40ch] max-w-[60ch] text-xs md:text-base"
      >
        {content.banner.subtitle}
      </h2>

      <a
        href="#about-section"
        class="bg-brand-500 px-8 py-3 rounded-md text-white font-bold text-md md:text-xl w-[20ch] md:w-[15ch] text-center mt-5"
      >
        {content.banner.learn_more}
      </a>
    </div>

    
  </div>


</div>

<style>
  .image {
    background-image: url("/assets/bg1.jpg");
    background-size: cover;
    background-position: center;
  }
  .overlay {
    background-color: rgba(0, 0, 0, 0.35);
  }
</style>
